@font-face {
  font-family: FontAwsome;
  src: url(../fonts/fa-regular-400.ttf);
}
@font-face {
  font-family: iranyekanwebbold;
  src: url(../webfonts/iranyekanwebbold.ttfs);
}
@font-face {
  font-family: IranSansWeb;
  src: url(../fonts/IRANSansWeb.ttf);
}