@import url(./font.css);
body {
  direction: rtl;
  font-family: IranSansWeb;
  max-width: 1600px;
  margin: auto;
}

.top-header {
  background-color: #3d3d3d;
  padding: 15px 0 10px 0;
  color: #fff;
}
.top-header .time span {
  font-size: 15px;
}
.top-header .time span i {
  position: relative;
  bottom: 2px;
}
.top-header .time span i.fa-clock {
  margin-right: 8px;
  margin-left: 3px;
  font-weight: 700;
  font-size: 12px;
}
.top-header .time span i.fa-calendar {
  margin-left: 3px;
  font-size: 14px;
}
.top-header a {
  color: #fff;
  float: left;
}
.top-header a i {
  margin-right: 15px;
  font-size: 18px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo .title h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.logo .title h3 {
  font-size: 17px;
}
.logo img {
  width: 175px;
}

.phone-call {
  text-align: end;
  line-height: 105px;
  font-size: 17px;
}
.phone-call i {
  margin-right: 8px;
  font-size: 21px;
  color: #072383;
}

nav.navbar ul.navbar-nav {
  padding: 0;
  margin: 0;
  z-index: 1;
}
nav.navbar ul.navbar-nav li.nav-item {
  font-weight: 500;
  margin-left: 7px;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #000;
  padding: -0.5rem 1rem;
}
nav.navbar ul.navbar-nav li.nav-item ul.dropdown-menu {
  padding: 0;
  margin: 0;
}
nav.navbar ul.navbar-nav li.nav-item ul.dropdown-menu a.dropdown-item {
  text-align: start;
  padding: 9px 20px 9px 0;
}
nav.navbar ul.navbar-nav li.nav-item ul.dropdown-menu li:hover a.dropdown-item {
  background-color: #eee;
}
nav.navbar ul.navbar-nav li.article ul.about {
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
nav.navbar ul.navbar-nav li.article ul.about li {
  background-color: #fff;
  list-style: none;
  padding: 9px 20px 8px 0px;
}
nav.navbar ul.navbar-nav li.article ul.about li a {
  color: #000;
  text-decoration: none;
}
nav.navbar ul.navbar-nav li.article ul.about li ul.info {
  display: none;
  position: absolute;
  right: 182px;
  top: -1px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
nav.navbar ul.navbar-nav li.article ul.about li ul.info li {
  width: 208px;
  padding: 5px 10px;
}
nav.navbar ul.navbar-nav li.article ul.about li:hover {
  background-color: #eee;
}
nav.navbar ul.navbar-nav li.article ul.about li:hover > ul.info {
  display: block;
}
nav.navbar ul.navbar-nav li.article:hover ul.about {
  display: block;
}
nav.navbar ul.navbar-nav li.article:hover ul.about li ul.info li {
  width: 187px;
}
nav.navbar form input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 15px;
}
nav.navbar form input:focus {
  box-shadow: none;
}
nav.navbar form button {
  color: #072383;
}

.carousel {
  margin-bottom: 25px;
}
.carousel .carousel-inner .carousel-item .offer {
  position: absolute;
  top: 82px;
  display: block;
  width: 100%;
}
.carousel .carousel-inner .carousel-item .offer h1 {
  font-size: 24px;
  text-align: center;
  color: #616161;
}
.carousel .carousel-inner .carousel-item .offer .form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.carousel .carousel-inner .carousel-item .offer .form input {
  width: 45%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 20px;
}
.carousel .carousel-inner .carousel-item .offer .form button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0px 20px;
}
.carousel .carousel-inner .item-one {
  background: url(../images/photo-1505118380757-91f5f5632de00.png);
  height: 50vh;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-inner .item-two {
  background: url(../images/nody-12456.jpg);
  height: 50vh;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.carousel .carousel-inner .item-three {
  background: url(../images/02eb1e30-055c-4493-be61-a1f8d8b81e6a---800x500.jpg);
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.carousel .carousel-indicators button {
  border: none;
  width: 40px;
  margin-left: 10px;
  height: 3px;
  margin-bottom: 5px;
}
.carousel .carousel-indicators button:focus {
  border: none;
}
.carousel .carousel-indicators button:focus-visible {
  border: none;
}
.carousel button.carousel-control-prev,
.carousel button.carousel-control-next {
  background: none;
  border: none;
}

.register {
  display: flex;
  margin-top: auto;
  margin-bottom: 20px;
}
.register .beginning,
.register .destination {
  width: 21%;
  box-shadow: 3px 3px 5px 1px #eee;
  margin-left: 20px;
}
.register .beginning i,
.register .destination i {
  font-size: 24px;
  margin-right: 10px;
}
.register .beginning input,
.register .destination input {
  padding: 10px 0;
  border: none;
  margin-right: 7px;
  outline: none;
}
.register .entry-date,
.register .exit {
  margin-left: 20px;
  position: relative;
}
.register .entry-date i,
.register .exit i {
  position: absolute;
  top: 16px;
  right: 8px;
}
.register .entry-date input,
.register .exit input {
  padding: 14px 29px 10px 0;
  border: none;
  box-shadow: 3px 3px 5px 1px #eee;
  outline: none;
}
.register button {
  padding: 0px 45px;
  height: 40px;
  margin-top: auto;
}

.info {
  display: flex;
  margin: 20px 0px;
  float: left;
  align-items: center;
}
.info .button-prev,
.info .button-next {
  margin-left: 10px;
  outline: none;
}
.info .button-prev button,
.info .button-next button {
  background: none;
  border-radius: 100%;
  border: 2px solid #eee;
  outline: none;
}
.info .button-prev button i,
.info .button-next button i {
  padding: 7px 6px;
  font-size: 19px;
  color: #3d3d3d;
}
.info a {
  line-height: 36px;
  font-size: 17px;
  text-decoration: none;
}

.swiper-tours {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 10px 0 35px 0;
}
.swiper-tours .swiper-wrapper {
  display: flex;
  transition: all 0.6s;
}
.swiper-tours .swiper-wrapper .swiper-slide {
  margin-left: 25px;
  display: block;
}
.swiper-tours .swiper-wrapper .swiper-slide img {
  height: 200px;
  border-radius: 5px;
}
.swiper-tours .swiper-wrapper .swiper-slide .infor {
  display: flex;
  justify-content: space-between;
  margin: 20px 7px 20px 0;
}
.swiper-tours .swiper-wrapper .swiper-slide .infor a.title {
  display: flex;
  font-size: 15px;
  color: #757575;
  text-decoration: none;
}
.swiper-tours .swiper-wrapper .swiper-slide .infor a.title h1 {
  font-size: 20px;
  text-align: start;
  margin-left: 14px;
  color: #000;
}
.swiper-tours .swiper-wrapper .swiper-slide .infor .price {
  color: #616161;
}
.swiper-tours .swiper-wrapper .swiper-slide a.more {
  width: 31%;
}
.swiper-tours .swiper-wrapper .swiper-slide a.more:hover {
  color: #fff;
}
.swiper-tours .swiper-wrapper .swiper-slide a.add-to-cart {
  width: 16%;
  color: #283593;
  border-color: #9e9e9e;
}
.swiper-tours .swiper-wrapper .swiper-slide a.add-to-cart:hover {
  color: #fff;
  border: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.tour-list {
  margin: 20px 0px;
  line-height: 36px;
  list-style: none;
  padding: 0 19px 0 0;
  display: flex;
}
ul.tour-list li {
  margin-left: 27px;
  font-size: 16px;
  font-weight: bold;
  color: #424242;
  cursor: pointer;
}

.services {
  margin: 70px 0;
  text-align: center;
}
.services h1 {
  margin: 15px 0;
  font-size: 24px;
  font-weight: 600;
}
.services p {
  line-height: 1.9;
  font-size: 17px;
  margin-bottom: 8px;
}
.services a {
  text-decoration: none;
}

.place {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}
.place .ticket {
  height: 100%;
  line-height: 36px;
}
.place .ticket h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin: 30px 0;
}
.place .swiper-cards {
  width: 279px;
  height: 382px;
}
.place .swiper-cards .swiper-wrapper {
  display: flex;
}
.place .swiper-cards .swiper-wrapper .swiper-slide {
  margin-left: 25px;
  display: block;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.place .swiper-cards .swiper-wrapper .swiper-slide img {
  width: 279px;
  height: 240px;
}
.place .swiper-cards .swiper-wrapper .swiper-slide a {
  margin: 10px 0;
}
.place .swiper-cards .swiper-wrapper .swiper-slide a h1 {
  font-size: 19px;
  margin: 20px 0;
  color: #424242;
}
.place .swiper-cards .swiper-wrapper .swiper-slide a.more {
  width: 31%;
}
.place .swiper-cards .swiper-wrapper .swiper-slide a.more:hover {
  color: #fff;
}
.place .swiper-cards .swiper-wrapper .swiper-slide a.add-to-cart {
  width: 21%;
  color: #283593;
  border-color: #000;
}
.place .swiper-cards .swiper-wrapper .swiper-slide a.add-to-cart:hover {
  color: #fff;
  border: none;
}

.title-articles h1 {
  font-size: 21px;
  font-weight: 500;
}
.title-articles a {
  color: #eab806;
  padding: 7px 20px 0px;
}

.swiper-articles {
  width: 100%;
  height: 27%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-articles .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);
  display: flex;
}
.swiper-articles .swiper-slide a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}
.swiper-articles .swiper-slide a img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin-left: 19px;
}
.swiper-articles .swiper-slide a .title {
  position: relative;
  top: 9px;
}
.swiper-articles .swiper-slide a .title span {
  font-size: 21px;
}
.swiper-articles .swiper-slide a.more {
  font-size: 12px;
  color: #616161;
}
.swiper-articles .swiper-slide a.more i {
  color: #757575;
  margin-right: 3px;
}

.card {
  border: none;
  box-shadow: -1px 2px 9px 1px #eee;
}
.card .card-header {
  background-color: #fff;
}
.card .card-header a {
  outline: none;
  box-shadow: none;
  font-size: 17px;
}

section.registor {
  background-color: #f5f5f5;
  margin-top: 30px;
}
section.registor textarea {
  outline: none;
  max-width: 100%;
}
section.registor .form-control:focus {
  box-shadow: 0 0 0 0.2rem #eee;
}

footer {
  background-color: #3d3d3d;
  padding: 10px 0 30px;
}
footer h5 {
  color: #fff;
  margin: 40px 0 25px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li a {
  color: #fff;
  line-height: 37px;
  font-size: 15px;
}
footer ul li a i {
  font-size: 27px;
}
footer ul li a:hover {
  color: #fff;
  text-decoration: none;
}
footer form .input-group {
  box-shadow: none;
}
footer ul.list-inline {
  text-align: center;
}
footer ul.list-inline li.list-inline-item {
  font-size: 26px;
  margin-left: 29px;
}
footer ul.list-inline li.list-inline-item a {
  color: #fff;
  text-decoration: none;
}

section .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}
section .swiper {
  margin: 10px 0 40px;
  z-index: 0;
}
section .swiper .swiper-slide img {
  object-fit: cover;
  height: 380px;
  border-radius: 5px;
}
section .swiper .swiper-pagination-bullet {
  background: #fff;
}
section .swiper .swiper-button-prev,
section .swiper .swiper-button-next {
  color: #fff;
  opacity: 0.5;
}
section ul.article-titles {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 60px;
}
section ul.article-titles li {
  margin: 0 0px 30px 30px;
}
section ul.article-titles li a {
  text-decoration: none;
  color: #4d4d4d;
  border: 1px solid #eee;
  padding: 13px;
  border-radius: 28px;
}

section.content .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 270px;
  overflow: auto;
  margin-bottom: 30px;
  scrollbar-width: none;
}
section.content .gallery img {
  width: 340px;
  height: 200px;
  margin: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-duration: 1s;
}
section.content .gallery img:hover {
  border: 5px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: none;
  filter: none;
}
section.content .shopping-photo {
  margin: 30px 0;
}
section.content .shopping-photo img {
  width: 100%;
  height: 330px;
  border-radius: 5px;
}
section.content .hotel-photos {
  margin: 30px 0;
  display: flex;
}
section.content .hotel-photos img {
  margin: 13px;
  width: 350px;
  border-radius: 5px;
}
section.content .food-photos {
  margin: 30px 0;
  display: flex;
}
section.content .food-photos img {
  margin: 13px;
  width: 250px;
  border-radius: 5px;
}

.gallery-tour {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
}
.gallery-tour .item {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  width: 712px;
}
.gallery-tour img {
  width: 344px;
  height: 234px;
  margin: 10px 0;
  border-radius: 5px;
}

section.explanation .day-one,
section.explanation .day-three,
section.explanation .day-five {
  display: flex;
}
section.explanation .day-one img,
section.explanation .day-three img,
section.explanation .day-five img {
  height: 260px;
  border-radius: 5px;
  margin-right: 20px;
}
section.explanation .buy {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
section.explanation .buy .card-one {
  box-shadow: 2px 2px 4px 1px #eee;
  margin: 25px 0;
  transition: all 0.4s;
}
section.explanation .buy .card-one:hover {
  transform: translateY(-9px);
}
section.explanation .buy .card:hover {
  transform: translateY(-9px);
}
section.explanation .buy .card {
  padding: 30px;
  box-shadow: 2px 2px 4px 1px #eee;
  transition: all 0.4s;
}
section.explanation .buy .card .card-body button.month {
  border: none;
  border: 1px solid #eee;
  box-shadow: none;
}
section.explanation .buy .card .card-body .entry-date {
  position: relative;
}
section.explanation .buy .card .card-body .entry-date i {
  position: absolute;
  top: 9px;
  right: 8px;
}
section.explanation .buy .card .card-body .entry-date input.date {
  padding: 8px 28px 8px 0;
  border: none;
  border: 1px solid #eee;
  border-radius: 3px;
}
section.explanation .buy .card .card-body select {
  padding: 7px 14px 7px 15px;
  background: #fff;
  border: none;
  border: 1px solid #eee;
  border-radius: 3px;
}
section.explanation .buy .card .card-body .price {
  display: flex;
  justify-content: space-between;
  margin: 22px 0px;
}
section.explanation .buy .card .card-body input[type=submit] {
  width: 100%;
}